/* body {
    display: flex;
    justify-content: center;
    align-items: center;

} */

h1 {
    padding-top: 150px;
}

.container p {
    text-align: center;
    margin: 30px 0px 10px 0px;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}
 
.container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.card {
    background-color: green;
    padding: 70px 50px 0px 50px;
    width: 30%;
    max-width: 350px;
    margin: 10px;
    border-radius: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
}

.content h3 {
    font-size: 1.4rem;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.9);
}

.content p {
    color: rgba(0, 0, 0, 0.7);
}

.social-media {
    margin-top: 30px;
}

.social-media i {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ebeaea;
    padding: 15px;
    margin: 0 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: 0.5;
    cursor: pointer;

}

.social-media i:hover {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.9);
}

@media(max-width:969px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
        background-color: green;
        padding: 70px 50px 0px 50px;
        max-width: 350px;
        margin: 10px;
        border-radius: 10px;

    }
}